<section>
    <form>
        <h3>Elephants Name</h3>
        <input type="text" ng-model="elephant.name">
        <h3>Elephants Image</h3>
        <input type="text" ng-model="elephant.imgUrl">
        <h3>Elephants Type</h3>
        <input type="text" ng-model="elephant.type">
        <h3>Elephants age</h3>
        <input type="number" ng-model="elephant.age">
        <button ng-click="adopt(elephant)">ADOPT</button>
    </form>
    <div>
        <h1>{{ elephant.name }} <span>{{ elephant.age }}</span></h1>
        <img ng-src="{{ elephant.imgUrl }}" alt="">
        <h3>{{ elephant.type }}</h3>
    </div>
</section>