/*headder*/
nav {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    height: 71px;
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: .5px solid #eee;
    z-index: 1;
}

img.navImg {
    display: inline-block;
    position: absolute;
    left: 25px;
    top: 15.5px;
}

.search {
    font-style: italic;
    display: inline-block;
    float: right;
    height: 33px;
    width: 14%;
    position: absolute;
    top: 13px;
    right: 26px;
    box-sizing: border-box;
}

input {
    width: 100%;
    display: inline;
    position: absolute;
    float: none;
    height: 33px;
}

span {
    position: absolute;
    left: 88%;
    top: 230px;
    font-size: 14px;
    height: 100%;
    padding-top: 9px;
    color: #999999;
    font-weight: bolder;
}
a {
    color: #000;
}
a:hover {
    color: #000;
}

ul {
    display: inline;
    text-align: center;
    position: absolute;
    top: 25px;
    left: 30%;
    right: 30%;
    box-sizing: border-box;
    width: 600px;
    padding: 0px;
}

li {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    margin-top: 0px;
    padding-top: 0px;
    list-style: upper-roman;
    padding-right: 64px;
    padding-bottom: 26px
}
li.Catagories:hover  ul.drop {
    display: inline-block;
}
li.About:hover  ul.dropTwo {
    display: inline-block;
}
.drop {
    display: inline-block;
    width: 150px;
    left: 50px;
    background-color: #fff;
    top: 45px;
    display: none;
}
.dropTwo {
    background-color: #fff;
    display: inline-block;
    width: 125px;
    position: absolute;
    right: auto;
    top: 45px;
    display: none;  
}
.dropLi {
    padding: 16px;
    box-sizing: border-box;
    border-bottom: .5px solid #eee;
    width: 100%;
}
.dropLi:hover {
    background-color: #F3C3AC;
}
/*main img*/
div.image {
    margin-top: 70px;
    position: relative;
    height: 100%;
}
img.mainImg {
    width: 100%;
    max-height: 780px;
}

/*email bar*/
header.header {
    width: 100%;
    height: 70px;
    background-color: #fee5da;
    margin: 0;
    padding: 0;
    text-align: center;
    align-content: center;
    border-bottom: .5px solid #eee;
    position: absolute;
    bottom: 0px;
}
div.email {
    height: 33px;
    width: 20%;
    position: relative;
    left: 40%;
    margin-top: 18px;
    font-style: italic;
    
}
/*main*/
div.main {
    width: 100%;
}
div.img {
    display: block;
}
section.row {
    display: block;
    margin-top: 100px;
}
section.barTwo {
    display: none;
    padding-top: 200px;
}
/*articles  */
img.article {
    width: 100%;
    display: block;
}
h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}
h2 {
    font-size: 16px;
    text-align: center;
    color: #9D9D9D;
}
h2:before {
    display: inline-block;
    content: "     ";
    height: 1px;
    width: 100px;
    background-color: #9D9D9D;
    margin: 0 10px 5px
}
h2:after {
    display: inline-block;
    content: "     ";
    height: 1px;
    width: 100px;
    background-color: #9D9D9D;
    margin: 0 10px 5px
}
h3 {
    padding: 12px;
    border: 1px solid #ddd;
    color: #9D9D9D;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    align-content: center;
    margin: 0px 40%;
    width: 150px;
}
h3:hover {
    background-color: #9D9D9D;
    color: #fff;
}

h4 {
    text-align: center;
}
h5 {
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    position: absolute;
    top: -20px;
    background-color: #fff;
    display: inline;
}
h5.related {
    left: 45%;
}
p.footer {
    float: right;
}
div.footer {
    height: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}
div.related {
    text-align: center;
    align-content: center;
    width: 100%;
    border-top: 1px solid #9d9d9d;
    border-bottom: 1px solid #9d9d9d;
    padding-top: 15px;
    position: absolute;
}
img.related {
    display: inline-block;
    box-sizing: border-box;
    width: 23%;
    padding: 10px
}
i.fa {
    color: #F3C3AC;
    font-size: 30px;
    margin: 15px;
}
/* sidebar*/
arrows {
    background-color: #000;
}
h5.sidebar {
    position: relative;
    top: -10px;
}
section.sidebar {
    width: 400px;
    right: 20px;
    top: 50px;
    display: block;
}
div.sidebar {
    border: 1px solid #eee;
    margin: 20px;
    text-align: center;
    align-content: center;
}
div.side {
    width: 100%;
    padding: 20px;
    text-align: center;
}
div.wish {
    text-align: center;
}
img.sidebar {
    width: 100%;
}
input#subscribe {
    position: relative;
}
span#subscribe {
    position: relative;
    right: 0px;
}
/*last footer*/
footer.last {
    margin-top: 200px;
    width: 100%;
    align-content: center;
    text-align: center;
    box-sizing: border-box;
}
img.instagram {
    box-sizing: border-box;
    width: 100%;
    max-height: 125px;
    margin: 0;
    padding: 0;
    background-size: cover;
    
}
div.colMd10 {
    width: 10%;
    box-sizing: border-box;
    height: 50%;
    margin: 0;
    padding: 0;
}
div.final {
    height: 30px;
    width: 100%;
    background-color: #000000;
    position: relative;
    bottom: 0px;
    margin-bottom: 0px;
    margin-top: 100px;
    padding: 0;
}
footer.last {
    width: 100%;
    margin-top: 300px;
}
p.final {
    float: left;
    color: #92BBAF;
    margin-left: 20px;
}
a.final {
    color: #92BBAF;
}
p.last {
    float: right;
    color: #BBBB97;
    margin-right: 20px;
}
span#subscribe {
    position: absolute;
    left: 80%;
    top: 0%;
}
span#envelope {
    position: absolute;
    left: 80%;
    top: 29%;
}
/*media*/
@media (max-width: 1300px) {
    img.mainImg {
        max-height: 500px; 
    }
}
@media (max-width: 900px) {
    img.mainImg {
        max-height: 450px;
    }
    div.search {
        display: none;
    }
    div.email {
        width: 80%;
        position: relative;
        left: 10%;
    }
    span#envelope {
        left: 90%;
    }
    img.instagram {
        max-height: 100px;
    }
    div.sub {
        display: none;
    }
}
@media (max-width: 800px) {
    img.mainImg {
        max-height: 400px;
    }
    section.bar {
        display: none;
    }
    section.barTwo {
        display: block;
    }
    section.space {
        margin-top: 200px;
    }
}
@media (max-width: 700px){
    img.mainImg {
        max-height: 350px;
    }
    ul {
        display: none;
    }
   
}
@media (max-width: 600px) {
    img.mainImg {
        350px;
    }
    div.colMd10 {
        width: 25%;
    }  
}
@media (max-width: 500px) {
    div.final {
        height: 60px;
    }
}
@media (max-width: 400px) {
    img.mainImg {
        max-height: 240px;
    }
}