<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
<head>
    <meta charset="UTF-8">
    <title>Angular Setup</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <section ng-controller="controllerOne">
       <input type="number" ng-model="numbers.one">
       <h2>+</h2>
       <input type="number" ng-model="numbers.two">
       <button ng-click="addOne(numbers)">Sum</button>
       <h1>{{ awnserOne }}</h1>
        
    </section>
    <section ng-controller="controllertwo">
        <input type="number" ng-model="numbers.one">
        <h2>*</h2>
       <input type="number" ng-model="numbers.two">
       <button ng-click="addTwo(numbers)">Procuct</button>
       <h1>{{ awnserTwo }}</h1>
        
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
    <script src="app.js"></script>
</body>
</html>