section {
    border: 3px outset #0027AF;
    margin: 3px;
    border-radius: 25px;
    background-color: #FBE282;
    padding: 5px;
    max-height: 150px;
    max-width: 100%;
}
footer {
     border: 3px outset #0027AF;
    margin: 3px;
    border-radius: 25px;
    background-color: #FBE282;
    padding: 5px;
    max-height: 150px;
    max-width: 100%;
}
p.foot {
    border: none;
    display: block;
    background-color: inherit;
    text-align: center;
}
body {
    background-color: rgba(238, 35, 35, .79);
    color: #0027AF;
    max-width: 100%;
}
p {
    display: inline-block;
    border: 3px outset #0027AF;
    border-radius: 12px;
    padding: 4px;
    font-size: 15px;
    background-color: #fff;
}

button {
margin: 20px;
}
span {
    display: inline-block;
}

img {
    display: none;
}
div {
    width: 75%;
    display: inline;
    float: right;
}
@media (min-width: 450px){
    p{
        text-align: right;
        font-size: 25px;
    }
    section {
        max-height: 100%;
    }
    footer {
        max-height: 100%;
    }
    img {
     max-width: 100%;
    max-height: 80px;
    display: inline-block;
    margin-left: 15px;
        display: inline-block;
    }
    button.btn {
        font-size: 20px;
    }
    div {
        display: inline-block;
        width: 50%
    }
}
@media (min-width: 950px){
    p{
        text-align: right;
        font-size: 25px;
        align-content: center;
    }
    section {
        max-height: 100%;
    }
    img {
        max-width: 100%s;
        max-height: 100%;
        display: inline-block;
    }
    button.btn {
        font-size: 25px;
    }
    div {
        display: inline-block;
        float: right;
    }
}
