ul {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #aaa;
    text-align: center;
    display: block;
    background-color: #404;
}
li {
    display: inline-block;
    padding: 10px;
    margin: 0 100px;
}
div {
    text-align: center;
    display: block;
    margin-top: 41px;
}
a {
    color: #f0f;
    height: 100%;
    padding: 10px;
}
a:focus {
    color: #404;
}
a:hover {
    color: #f08;
    background-color: #303
}
img.loveImg {
    width: 100%;
}