nav {
    background-color: #FFA253;
    color: #4E31B2;
    color: #4E31B2;
}
section {
    color: #201536;
    background-color: #FFC17F;
    text-align: center;
    padding: 50px;
    border-radius: 30px;
    
}
button {
    margin: 10px;
}
body {
    background-color: #201536;
}