body {
    width: 100%;
    margin: 0;
    background-image: url("img/whitebrick.png")
}

section.main {
    box-sizing: border-box;
    width: 90%;
    background-color: rgba(200, 200, 200, 0.6);
    position: absolute;
    top: 49px;
    text-align: center;
    left: 4.5%;
    border-radius: 10px;
}

nav {
    background-color: rgba(053, 0, 053, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

ul.nav {
    list-style: none;
    display: inline-block;
}

li.nav {
    display: inline-block;
    color: aliceblue;
}

a.nav {
    padding: 15px;
    color: aliceblue;
    text-decoration: none;
}

a.nav:hover {
    background-color: rgba(05, 0, 05, 0.3);
}

section.container {
    width: 80%;
    margin: auto;
}

h2.sig {
    float: right;
    display: inline-block;
    margin-bottom: 0px;
    margin-top: 10px;
    margin-right: 60px;
    color: aliceblue;
    font-style: italic;
    font-family: cursive;
}


/*     about stuff      */

div.about {
        position: relative;
    height: 600px;
    width: 100%;
    top: 0;
    left: 0;
}
div.about::after {
        content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("ScreenShots/me.png");
    width: 100%;
    height: 100%;
    opacity: .9;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}
p.description {
    width: 60%;
    margin: auto;
}

/*   resume stuff   */

div.col {
    box-sizing: border-box;
    width: 33%;
    display: inline-block;
    vertical-align: text-top;
}

div.container {
    text-align: center;
}

div.underline {
    height: 2px;
    background-color: #777;
    width: 80%;
    margin: 10px auto;
    display: block;
    position: relative;
}

h2.underline {
    position: relative;
    top: -35px;
    display: inline-block;
    background-color: rgba(200, 200, 200, 0.7);
    border-radius: 100%;
    b
}

p.block {
    display: block;
    margin: 50px;
}

li {
    list-style: none;
}
div.resume {
    width: 100%;
    height: 200px;
    
}
img.resume {
    width: 80%;
    margin: 20px auto;
}

/*project stuff */

div.project {
    width: 33%;
    margin: auto;
    transition: width 2s;
}

div.project:hover {
    width: 80%;
}

img.project {
    width: 100%;
}
img.link {
    width: 100px;
}

/*paralax*/

div.backGround {
    position: relative;
    height: 1000px;
    width: 100%;
    top: 0;
    left: 0;
}

div.backGround::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("img/whitebrick.png");
    width: 100%;
    height: 100%;
    opacity: .9;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


/*Media Queries*/

@media (max-width: 800px) {
    div.col {
        width: 50%;
        display: inline-block;
    }
    div.project {
        width: 80%;
    }
}

@media (max-width: 500px) {
    div.col {
        width: 100%;
    }
    section.main {
top: 99px;
    }
    div.project {
        width: 100%;
    }
    div.project:hover {
        width: 100%;
    }
    }