* {
    font-family: 'Chewy', cursive;
    color: #B25700;
}

h1 {
    30px;
    position: relative;
    top: 50px;
    z-index: 0;
    display: block;
}

container {
    align-content: flex-end;
    display: block;
    width: 80%;
    margin: 0 auto;
}
header {
    height: 100px;
}

nav {
    background-color: #1990FF;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 10px;
    border-radius: 10px;
}

body {
    background-color: #93E2F7;
}

.foot {
    text-align: center;
}

.nav {
    display: inline-block;
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    color: #B25700;
}

img {
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
}

a {
    color: #B25700;
}

form {
    border: 2px #519EB2 outset;
    background-color: #fff;
    margin: 50px;
    border-radius: 25px;
    position: relative;
    top: 20px;
}

.myForm {
    display: block;
    max-height: 100%;
    max-width: 100%;
    margin: 0px auto;
    padding: 30px;
    text-align: center;
}

input {
    width: 80%;
    border-radius: 5px
}

textarea {
    width: 80%;
    border-radius: 5px
}

.stich {
    max-width: 100px;
    margin: 10px;
    display: inline;
}

.radio {
    display: block;
    text-align: left;
    position: relative;
    left: 100px;
}

.myRadio {
    background-color: #93E2F7;
    border-radius: 25px;
}

.move {
    position: relative;
    top: 50px;
}

footer {
    display: block;
    height: 150px;
    position: relative;
    bottom: 0;
    z-index: 1;
    margin: 20px;
    border: 1px inset #1990FF;
    border-radius: 25px;
}
.rolling {
    width: 75%;
}

.myRow {
    display: block;
    box-sizing: border-box;
    display: table;
    content: " ";
}
@media screen and (max-width: 500px) {
    .nav {
        font-size-adjust: auto;
        
        margin-right: 5px;
        margin-left: 10px;
    }
    footer {
        height: 250px;
    }
/*
    .radio {
        left: 0;
*/
    }
    
    
}
    